@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "Forgot Password Confirmation";
 }

<div class="fw-normal mb-3 pb-3">
    <h1>@ViewData["Title"]</h1>
    <p>
        The link has been sent, please check your email to reset your password.
    </p>
</div>
