@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password?";
    Layout = "_SignLayout";
}

<form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="sign-form">
  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">@ViewData["Title"]</h3>

  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email address</label>
    <input type="email" name="email" id="email" class="form-control form-control-lg" placeholder="e.g., example@mail.com" required/>
  </div>

  <div>
    <button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
  </div>

</form>



