@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "Reset Password Confirmation";
 }

<div class="fw-normal mb-3 pb-3">
    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-action="Login">click here to sign in</a>.
    </p>
</div>
