@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_SignLayout";
}

<form  asp-controller="Account" asp-action="ResetPassword"  asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" style="width: 23rem;">
    
  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">@ViewData["Title"]</h3>

    <div class="form-outline mb-4">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" placeholder="e.g., · · · · · · · ·" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="e.g., · · · · · · · ·" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Create</button>
    </div>
    
</form>
