@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "Success Registration";
 }

<div class="fw-normal d-flex flex-column text-center flex-grow-1">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email for the verification action.
    </p>
</div>
