@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header, .logo {
  font-family: 'Ledger', serif;
}

.logo{
  font-size: 24px;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Ledger', serif;
}

.sidebar{
  width: 18.75em;
  height: 18.75em;
}

.card-header, .card-footer{
  background-color: white;
}

.p-date{
  margin-bottom: .25rem;
}