@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header, .logo {
    font-family: 'Ledger', serif;
}

.logo {
    font-size: 24px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Ledger', serif;
}

.sidebar {
    width: 18.75em;
    /*height: 18.75em;*/
}

.card-header, .card-footer {
    background-color: white;
}

.c1 {
    justify-content: end;
}

@media (max-width: 768px) {
    .c1  {
        justify-content: center;
    }
    
    .c2 {
        flex-direction: column;
    }

    .sidebar {
        width: calc(100% - 32px);
    }
}


h1{
    font-size: 2.5rem;
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
}

.container_d{
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    color: #fff;
    font-size: 1.5rem;
}

.back{
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 1%, rgba(154,154,154,1) 51%, rgba(89,89,89,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.container_d:hover .front,
.container_d:hover .back{
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}

.container_d .back{
    transform: rotateY(180deg);

    transform-style: preserve-3d;
}

.container_d .front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container_d:hover .back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container_d:hover .front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-weight: 300;
}

.sign-form {
    width: 25rem;
}

@media screen and (max-width: 36rem) {
    .sign-form {
        width: 20rem;
    }
    
    .shadow{
        box-shadow:none !important;
    }
}

@media screen and (max-width: 48rem) {
    .container-fluid {
        margin-inline: auto;
    }
}

::placeholder {
    font-size: 15px;
}

.field-validation-error{
    color: red;
    font-size: 13px;
}