@{
    ViewData["Title"] = "Hello Feed";
}
<div class="border-bottom box-shadow shadow m-3 flex-grow-1">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <div class="col">
                <div class="card shadow-sm">
                    
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="d-flex justify-content-between col-6 mx-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary w-75">Add</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        <div class="col">
            <div class="card shadow-sm">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="d-flex justify-content-between col-6 mx-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary w-75">Add</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="d-flex justify-content-between col-6 mx-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary w-75">Add</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="d-flex justify-content-between col-6 mx-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary w-75">Add</button>

                        </div>
                </div>
            </div>
        </div>
</div>
</div>