@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "About us";
}

<div class="border-bottom box-shadow rounded shadow m-3 flex-grow-1">
    <h1 class="text-decoration-underline">@ViewData["Title"]</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-xl-0 mb-3" ontouchstart="this.classList.toggle('hover');">
                <div class="container_d">
                    <div class="front" style="background-image: url(https://cdni.autocarindia.com/utils/imageresizer.ashx?n=http://img.haymarketsac.in/campaignindia/campaign-india/content/NewsPaperRezise.jpg&w=800&h=530&q=70&c=1)">
                        <div class="inner">
                            <p>Cargo Connect</p>
                            <span>Your Freight Information Hub</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Revolutionizing Cargo Information: RSS for Seamless Freight Updates</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-md-0 mb-3" ontouchstart="this.classList.toggle('hover');">
                <div class="container_d">
                    <div class="front" style="background-image: url(https://www.pewresearch.org/wp-content/uploads/2020/02/FT-20.02.13_FastFactsNewspapers_feature.jpg)">
                        <div class="inner">
                            <p>Freight Feed</p>
                            <span>Empowering Logistics Intelligence</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Stay Ahead in Logistics: Real-time Cargo News at Your Fingertips</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-xl-0 mb-3" ontouchstart="this.classList.toggle('hover');">
                <div class="container_d">
                    <div class="front" style="background-image: url(https://i.etsystatic.com/9089439/r/il/a647db/2604959336/il_fullxfull.2604959336_fb3z.jpg)">
                        <div class="inner">
                            <p>Cargo Stream</p>
                            <span>Accelerate Supply Chain Success</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Master the Supply Chain: Streamlined Cargo Aggregation for Efficiency</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-md-0" ontouchstart="this.classList.toggle('hover');">
                <div class="container_d">
                    <div class="front" style="background-image: url(https://live-production.wcms.abc-cdn.net.au/17ccca37ea9211b551f6cbb7f4bdb75b?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485)">
                        <div class="inner">
                            <p>Smart Freight</p>
                            <span>Optimize Cargo Management with Data</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Unleash the Power of Cargo Data: RSS Aggregation for Smarter Decisions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="my-4 px-4 mx-auto" style="max-width: 1250px">
               A RSS (Really Simple Syndication) aggregator site is a web application that collects and displays content from multiple RSS feeds in one centralized location. This type of website allows users to subscribe to various RSS feeds and receive updates and news from their favorite sources all in one place.
               <br>
               <br>
               Typically, a RSS aggregator site will provide a list of the latest articles or posts from each subscribed feed, along with a brief summary and a link to the original source. Users can click on the links to read the full content on the original website.
               <br>
               <br>
               RSS aggregator sites are especially useful for individuals or organizations who want to stay up-to-date with the latest news and trends in their industry. By subscribing to relevant RSS feeds and using an aggregator, they can efficiently and easily keep track of all the latest developments in one convenient location.
               <br>
               <br>
               In addition, RSS aggregator sites can also be used by content creators and publishers to distribute their content to a wider audience and increase their reach. By making their content available through RSS feeds, they can attract new readers and subscribers who may not have discovered their content otherwise.
            </div>
        </div>
    </div>

</div>