@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "About us";
}

<div class="border-bottom box-shadow shadow m-3 flex-grow-1 p-5">
    <h1 class="text-decoration-underline">@ViewData["Title"]</h1>
    <div class="w-50">
    <p>Your go-to source for staying up-to-date on the latest news and updates from a wide range of sources. Our platform is designed to streamline the process of consuming news and information, saving you valuable time and effort.</p>
      <p>As an RSS aggregator, we gather content from a variety of sources and present it in a user-friendly format. Our platform is built with efficiency and convenience in mind, allowing you to easily access the information you need with just a few clicks.</p>
      <p>With RSSCargo, you have the freedom to customize your feed to include only the topics and sources that interest you the most. Whether you're a news junkie, industry professional, or casual reader, our platform has something for everyone.</p>
      <p>We pride ourselves on providing our users with high-quality, curated content that is both informative and engaging. Join our community of engaged readers and experience the power of curated content with RSSCargo.</p>
      <p>Thank you for choosing RSSCargo as your trusted source for news and information. We are committed to providing our users with the best possible experience, and we look forward to serving you in the years to come.</p>
    </div>
</div>
