@{
    Layout = "_NotSignedIn";
    ViewData["Title"] = "About us";
}

<div class="border-bottom box-shadow rounded shadow m-3 flex-grow-1">
	<h1 class="text-decoration-underline">@ViewData["Title"]</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xl-3 mb-xl-0 mb-3" ontouchstart="this.classList.toggle('hover');"	>
				<div class="container_d">
					<div class="front" style="background-image: url(https://cdni.autocarindia.com/utils/imageresizer.ashx?n=http://img.haymarketsac.in/campaignindia/campaign-india/content/NewsPaperRezise.jpg&w=800&h=530&q=70&c=1)">
						<div class="inner">
							<p>CargoConnect</p>
							<span>Your Freight Information Hub</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Revolutionizing Cargo Information: RSS for Seamless Freight Updates</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 mb-md-0 mb-3" ontouchstart="this.classList.toggle('hover');">
				<div class="container_d">
					<div class="front" style="background-image: url(https://www.pewresearch.org/wp-content/uploads/2020/02/FT-20.02.13_FastFactsNewspapers_feature.jpg)">
						<div class="inner">
							<p>FreightFeed</p>
							<span>Empowering Logistics Intelligence</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Stay Ahead in Logistics: Real-time Cargo News at Your Fingertips</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 mb-xl-0 mb-3" ontouchstart="this.classList.toggle('hover');">
				<div class="container_d">
					<div class="front" style="background-image: url(https://i.etsystatic.com/9089439/r/il/a647db/2604959336/il_fullxfull.2604959336_fb3z.jpg)">
						<div class="inner">
							<p>CargoStream</p>
							<span>Accelerate Supply Chain Success</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Master the Supply Chain: Streamlined Cargo Aggregation for Efficiency</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-md-6 col-xl-3 mb-md-0 mb-3" ontouchstart="this.classList.toggle('hover');">
				<div class="container_d">
					<div class="front" style="background-image: url(https://live-production.wcms.abc-cdn.net.au/17ccca37ea9211b551f6cbb7f4bdb75b?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485)">
						<div class="inner">
							<p>SmartFreight</p>
							<span>Optimize Cargo Management with Data</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Unleash the Power of Cargo Data: RSS Aggregation for Smarter Decisions</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
