@{
    ViewData["Title"] = "Login";
}

Login

<form method="post">
    <input type="text" name="login" placeholder="Login">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign In</button>
</form>