@{
    ViewData["Title"] = "Feeds";
}
<div class="border-bottom box-shadow shadow m-3 flex-grow-1">

    <div class="card box-shadow shadow m-3">
        <div class="card">

            <h5 class="card-title text-center">Add Feed link</h5>
                    
            <input type="text" name="rssfeed"  />
            <div class="d-flex justify-content-between col-6 mx-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary w-75">Add</button>

            </div> 
        </div>
    </div>

    



        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <h5 class="card-title">Feed title</h5>
                        <p class="card-text">Feed link</p>
                        <div class="d-flex justify-content-between col-6 mx-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary w-75">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <h5 class="card-title">Feed title</h5>
                        <p class="card-text">Feed link</p>
                        <div class="d-flex justify-content-between col-6 mx-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary w-75">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <h5 class="card-title">Feed title</h5>
                        <p class="card-text">Feed link</p>
                        <div class="d-flex justify-content-between col-6 mx-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary w-75">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
   
</div>

    