<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="icon" type="media/image/png" href="/media/image/package.png">
        <!-- For apple devices -->
        <link rel = "apple-touch-icon" href="/media/image/package.png"/>
</head>
<body>
<div>
  <header class="px-5 ms-xl-4 mt-5">
    <a class="logo text-decoration-none text-black" asp-controller="Home" asp-action="Index">📦 RSS Cargo</a>
  </header>
  
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-12 text-black">
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <div class="shadow p-4 rounded">
              @RenderBody()
            </div>
          </div>

        </div>
        <div class="col-lg-6 px-0 d-none d-lg-block">
          <img src="/media/image/sign.png"
               alt="Sign In image" class="w-100">
        </div>
      </div>
    </div>
  </main>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</div>
</body>
</html>